{JAVASCRIPT}
<!-- BEGIN switch_user_logged_in -->
<div id="pun-visit" class="clearfix">
    <ul>
        <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
        <li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
        <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
        <li><a href="{U_MARK_READ}">{L_MARK_FORUMS_READ}</a></li>
    </ul>
    <p>{LOGGED_AS}. {LAST_VISIT_DATE}</p>
</div>
<!-- END switch_user_logged_in -->
<!-- BEGIN switch_user_logged_out -->
<div id="pun-visit">
    <p>{L_NOT_CONNECTED} {L_LOGIN_REGISTER}</p>
</div>
<!-- END switch_user_logged_out -->

<!-- BEGIN message_admin_index -->
<div class="main">
    <!-- BEGIN message_admin_titre -->
    <div class="main-head">
        <h1 class="page-title">{message_admin_index.message_admin_titre.MES_TITRE}</h1>
    </div>
    <!-- END message_admin_titre -->

    <!-- BEGIN message_admin_txt -->
    <div id="pun-announcement">
        <p>{message_admin_index.message_admin_txt.MES_TXT}</p>
    </div>
    <!-- END message_admin_txt -->
</div>
<!-- END message_admin_index -->

<!-- BEGIN switch_user_login_form_header -->
<div class="main">
    <form action="{S_LOGIN_ACTION}" method="post" name="form_login">
        <div class="user_login_form main-box center">
            <label><span class="genmed">{L_USERNAME} :</span> <input class="post" type="text" size="10" name="username" /></label> &nbsp;
            <label><span class="genmed">{L_PASSWORD} :</span> <input class="post" type="password" size="10" name="password" /></label> &nbsp;
            <label><span class="gensmall">{L_AUTO_LOGIN}</span> <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label> &nbsp;
            {S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" />

            <!-- BEGIN switch_social_login -->
            <div class="mt10">
                <div class="social_btn">
                    <!-- BEGIN fb_connect -->
                    <div class="fb-login-button"></div>
                    <!-- END fb_connect -->
                    &nbsp;
                    <!-- BEGIN topicit_connect -->
                    <div class="ti-connect"></div>
                    <!-- END topicit_connect -->
                </div>
            </div>
            <!-- END switch_social_login -->
        </div>
    </form>
</div>
<!-- END switch_user_login_form_header -->

{CHATBOX_TOP}
{BOARD_INDEX}
      
<div id="statistics" style="display:none;">
    <br />
    <ul class="statsPers">
        <li class="statHide rdtOn">Record Online Users: {RECORD_USERS}</li>
        <li class="statHide lastUser">Youngest Member: {NEWEST_USER}</li>
        <li class="statHide totalUser">Members: {TOTAL_USERS}</li>
        <li class="statHide totalPost">Posts: {TOTAL_POSTS}</li>
    </ul>
    <br />
</div>

<div class="cWidgetContainer" data-controller="core.front.widgets.area" data-role="widgetReceiver" data-orientation="horizontal" data-widgetarea="footer">
    <ul class="ipsList_reset" style="z-index: 6050;">
        <li data-blockid="app_core_stats_5q535p05m" data-blocktitle="Member Statistics" class="ipsWidget ipsBox ipsWidget_horizontal" data-controller="core.front.widgets.block" data-blockerrormessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page." data-blockconfig="true" id="ips_uid_2539_12" animating="false" style="">
            <h3 class="ipsType_reset ipsWidget_title">Member Statistics</h3>
            <div class="ipsWidget_inner">
                <div class="ipsFlex ipsFlex-ai:center ipsFlex-jc:between sm:ipsFlex-fd:column sm:ipsFlex-ai:stretch ipsPadding ipsWidget_stats">
                    <div class="ipsFlex-flex:11 ipsFlex ipsFlex-ai:center ipsFlex-jc:around">
                        <div class="ipsType_center">
                            <span class="ipsType_large ipsWidget_statsCount" id="ipstotal_posts"></span>
                            <br>
                            <span class="ipsType_light ipsType_medium">Total Posts</span>
                        </div>
                        <div class="ipsType_center">
                            <span class="ipsType_large ipsWidget_statsCount" id="ipsrecord_users"></span>
                            <br>
                            <span class="ipsType_light ipsType_medium">Most Online</span>
                        </div>
                    </div>
                    <div class="ipsFlex-flex:01 ipsBorder_left ipsPadding_left ipsMargin_right:double sm:ipsMargin_right:none sm:ipsMargin_top sm:ipsBorder:none sm:ipsBorder_top sm:ipsPadding_top sm:ipsPadding_left:none sm:ipsFlex sm:ipsFlex-jc:center">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="pun-info" class="main" style="display:none;">
    <div class="main-statistics">
        <div id="onlinelist">
            <img src="{L_ONLINE_IMG}" alt="{L_WHO_IS_ONLINE}" />
            <p class="right">
                <!-- BEGIN switch_viewonline_link -->
                <a href="{U_VIEWONLINE}" rel="nofollow">{L_WHO_IS_ONLINE}</a>
                <!-- END switch_viewonline_link -->
                <!-- BEGIN switch_viewonline_nolink -->
                {L_WHO_IS_ONLINE}
                <!-- END switch_viewonline_nolink -->
            </p>
            <p id="total_users_online">{TOTAL_USERS_ONLINE}<br /></p>
            <p id="record_users">{RECORD_USERS}<br /></p>
            <p id="logged_in_user_list">{LOGGED_IN_USER_LIST}</p>
            <p id="l_online_users">{L_ONLINE_USERS}</p>
            <p id="l_connected_members">{L_CONNECTED_MEMBERS}<br /></p>
            <p id="l_whosbirthday_today">{L_WHOSBIRTHDAY_TODAY}</p>
            <p id="l_whosbirthday_week">{L_WHOSBIRTHDAY_WEEK}</p>
            <div class="clear"></div>
            <p id="group_legend">{LEGEND}&nbsp;:&nbsp;{GROUP_LEGEND}</p>
        </div>
        <!-- BEGIN switch_chatbox_activate -->
        <div id="onlinechat">
            <p class="page-bottom">
                {TOTAL_CHATTERS_ONLINE}&nbsp;:&nbsp;
                {CHATTERS_LIST}
                <br />
                <!-- BEGIN switch_chatbox_popup -->
            <div id="chatbox_popup"></div>
            <script type="text/javascript">
                insertChatBoxPopup('{disable_viewonline.switch_chatbox_activate.switch_chatbox_popup.U_FRAME_CHATBOX}', '{L_CLICK_TO_JOIN_CHAT}');
            </script>
            <!-- END switch_chatbox_popup -->
            </p>
        </div>
        <!-- END switch_chatbox_activate -->
    </div>
</div>

<!-- BEGIN switch_user_login_form_footer -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
    <div class="user_login_form main-box center">
        <label><span class="genmed">{L_USERNAME} :</span> <input class="post" type="text" size="10" name="username" /></label> &nbsp;
        <label><span class="genmed">{L_PASSWORD} :</span> <input class="post" type="password" size="10" name="password" /></label> &nbsp;
        <label><span class="gensmall">{L_AUTO_LOGIN}</span> <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label> &nbsp;
        {S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" />

        <!-- BEGIN switch_social_login -->
        <div class="mt10">
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                &nbsp;
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
        </div>
        <!-- END switch_social_login -->
    </div>
</form>
<!-- END switch_user_login_form_footer -->

{CHATBOX_BOTTOM}

{AUTO_DST}

<!-- BEGIN switch_user_logged_out -->
<script>
    $(function() {
        if (document.getElementById('logout') == null) {
            var sCategory = '2';
            $('.main-content:eq(' + sCategory + ')').addClass('protect');
            var sCSS = '<style>' +
                '.protect:after {' +
                'background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.8);' +
                'bottom: 0px;' +
                'content: "Only Members";' +
                'font-size: 30px;' +
                'left: 0px;' +
                'line-height: 189px;' +
                'position: absolute;' +
                'right: 0px;' +
                'text-align: center;' +
                'top: 0px;' +
                'z-index: 10;' +
                '}' +
                '.protect {' +
                'position: relative;' +
                '}' +
                '</style>';
            document.head.insertAdjacentHTML('beforeEnd', sCSS);
        }
    });
</script>
<!-- END switch_user_logged_out -->