<div class="ipsPageHeader  ipsBox ipsResponsive_pull ipsPadding ipsClearfix">
  <header>
    <h1 class="ipsType_pageTitle">{FORUM_NAME}</h1>
    <div class="ipsType_richText ipsType_normal" data-controller="core.front.core.lightboxedImages">
      <p id="ipsType_pageDescription"></p>
    </div>
    <hr class="ipsHr ipsResponsive_hidePhone">
  </header>
</div>

<!-- BEGIN switch_user_logged_in -->
<div id="pun-visit" class="clearfix">
	<ul>
		<li>
				<script type="text/javascript">//<![CDATA[
				var url_newposts = '{U_NEWPOSTS_JS_PLUS_MENU}';
				var url_egosearch = '{U_EGOSEARCH_JS_PLUS_MENU}';
				var url_unanswered = '{U_UNANSWERED_JS_PLUS_MENU}';
				var url_watchsearch = '{U_WATCHSEARCH_JS_PLUS_MENU}';
				
				insert_plus_menu_new('f{FORUM_ID}&amp;f={FORUM_ID}','{JS_SESSION_ID}', {JS_AUTH_FAVOURITES});
			//]]>
			</script>
		</li>
			<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
			<li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
			<li><a href="{U_MARK_READ}">{L_MARK_TOPICS_READ}</a></li>
	</ul>
	<p>{LOGGED_AS}. {LAST_VISIT_DATE}</p>
</div>
<!-- END switch_user_logged_in -->
<!-- BEGIN switch_user_logged_out -->
<div id="pun-visit">
	<p>{L_NOT_CONNECTED} {L_LOGIN_REGISTER}</p>
</div>
<!-- END switch_user_logged_out -->

{BOARD_INDEX}

<div class="main paged">
	<div class="paged-head clearfix">
		<p class="paging">{PAGINATION}</p>
		<!-- BEGIN switch_user_authpost -->
		      <p class="posting"><a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow"><img src="{POST_IMG}" class="{POST_IMG_ID}" alt="{L_POST_NEW_TOPIC}" /></a></p>
		<!-- END switch_user_authpost -->
	</div>

	{TOPICS_LIST_BOX}

	<div class="paged-foot clearfix">
		<p class="paging">{PAGINATION}</p>
	</div>

</div>
<!--
<div class="pun-crumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<p class="crumbs"><a href="{U_INDEX}" itemprop="url"><span itemprop="title">{L_INDEX}</span></a><strong>{NAV_CAT_DESC}</strong></p>
</div>


<div class="main" id="active_users" style="background-color:white">
  <div id="user-stats" style="padding: 0.6em 1em">
</div>
</div>

<div id="pun-info" class="main">
	<div style="border: 1px solid #e0e0e0; box-shadow: 0px 1px 0px rgba(0,0,0,0.1); border-radius: 3px;" class="ipsButtonBar ipsPad_half ipsClearfix ipsClear">
		<div id="stats">
			<p class="right">{L_MODERATOR} : {MODERATORS}</p>
			{LOGGED_IN_USER_LIST}
		</div>
		<div id="onlinelist">
			<p>{L_TABS_PERMISSIONS} <br />{S_AUTH_LIST}</p>
		</div>
	</div>
</div>
-->
<!-- BEGIN switch_legend -->
<!--
<ul class="pun-legend">
	<li><img src="{FOLDER_NEW_IMG}" alt="{L_FOLDER_NEW_IMG}" />&nbsp;{L_FOLDER_NEW_IMG}</li>
	<li><img src="{FOLDER_HOT_NEW_IMG}" alt="{L_FOLDER_HOT_NEW_IMG}" />&nbsp;{L_FOLDER_HOT_NEW_IMG}</li>
	<li><img src="{FOLDER_LOCKED_NEW_IMG}" alt="{L_FOLDER_LOCKED_NEW_IMG}" />&nbsp;{L_FOLDER_LOCKED_NEW_IMG}</li>
</ul>
<ul class="pun-legend">
	<li><img src="{FOLDER_IMG}" alt="{L_FOLDER_IMG}" />&nbsp;{L_FOLDER_IMG}</li>
	<li><img src="{FOLDER_HOT_IMG}" alt="{L_FOLDER_HOT_IMG}" />&nbsp;{L_FOLDER_HOT_IMG}</li>
	<li><img src="{FOLDER_LOCKED_IMG}" alt="{L_FOLDER_LOCKED_IMG}" />&nbsp;{L_FOLDER_LOCKED_IMG}</li>
</ul>
<ul class="pun-legend">
	<li><img src="{FOLDER_ANNOUNCE_IMG}" alt="{L_FOLDER_ANNOUNCE_IMG}" />&nbsp;{L_FOLDER_ANNOUNCE_IMG}</li>
	<li><img src="{FOLDER_STICKY_IMG}" alt="{L_FOLDER_STICKY_IMG}" />&nbsp;{L_FOLDER_STICKY_IMG}</li>
	<li><img src="{FOLDER_GLOBAL_ANNOUNCE_IMG}" alt="{L_FOLDER_GLOBAL_ANNOUNCE_IMG}" />&nbsp;{L_FOLDER_GLOBAL_ANNOUNCE_IMG}</li>
</ul>
-->
<!-- END switch_legend -->
<style>
  #stats {
    background-color: #ffffff!important;
}
  .forum_name {
    font: 300 26px/1.3 Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: #323232;
}
</style>